@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  color: #e1e1e1;
  background-color: #242424;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* */

.rrl-flex {
  display: flex;
}

.rrl-flex-column {
  flex-direction: column;
}

.rrl-shrink-0 {
  flex-shrink: 0;
}

.rrl-grow {
  flex-grow: 1;
}

.rrl-h-screen {
  height: 100vh;
}

.rrl-bg-darker {
  background-color: #202020;
}

.rrl-bg-dark {
  background-color: #2D3032;
}

.rrl-font-mono {
  font-family: monospace;
}

.rrl-color-white {
  color: white;
}

.rrl-overflow-hidden {
  overflow: hidden;
}

.rrl-contents {
  display: grid;
  place-items: center;
  transition: filter 0.2s ease-out, background-color 0.2s ease-out;
  font-size: 16px;
}

.rrl-dragging {
  filter: blur(5px);
  background-color: #555555;
}

.sample-drag-bar {
  flex-shrink: 0;
  width: 5px;
  height: 100%;
  margin: 0;
  border: none;
  background-color: #313131;
  cursor: col-resize;
  transition: background-color 0.15s ease-in-out;
}

.sample-drag-bar.sample-drag-bar--dragging,
.sample-drag-bar:hover{
  background-color: #4d4d4d;
}

.sample-drag-bar.sample-drag-bar--horizontal {
  height: 5px;
  width: 100%;
  cursor: row-resize;
}

.rrl-disabled {
  cursor: not-allowed;
}
.rrl-disabled:hover {
  background-color: #d1d5db;
}